.p-prv{
    position:absolute;
    left: -1px;
    top: 55%;
    padding: 10px;
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
}
.p-next{
    position:absolute;
    right: -1px;
    top: 55%;
    padding: 10px;
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
}