.productcard{
    flex: 0 0 auto;
    width: 200px;
    height: 300px;
    border-left: var(--cborder);
}



.pro-img{
    display: flex;
    height: 40%;
    width: 100%;

}

.pro-img img{
    height: 100%;
    width: 100%;
}

.pro-details{
    display: flex;
    height: 60%;
    width: 100%;
    background-color: bisque;
}