
:root {
    --yellow: #FFBD0C;
    --white: #ffffff;
    --iconcolor:#000;
    --iconsize:1.5vw;
    --graytext:#1D1D1D;
  }
*{
padding: 0px ;
margin: 0px;
letter-spacing: 1px;
font-family: 'DM Sans', sans-serif;
}
html{
scroll-behavior: smooth;
}
::-webkit-scrollbar {
width: 1px;
}
.App{
}


